<h2>Open Movie Database</h2>
<div class="col-md-8 col-md-offset-2">
 <div class="form-group">
  <input type="text" required [(ngModel)]="id_movie" (change)="callMovieService()" class="form-control" placeholder="Enter Movie name ...">
  <br><br>
  <h3>Movie Details</h3>
  <br>
  <p class="well lead">
      <i class="title"> {{ this.mv_Title }}</i>  <br>
      <i class="plot"> {{ this.mv_Plot }} </i> <br>
      <i> {{ this.mv_Actors }}</i>  <br>
      <i> Directed by :</i> {{ this.mv_Director }} <br>
      <i> {{ this.mv_Rated }} </i> <br>
      <i> Release Date :</i> {{ this.mv_Released }} <br>
      <img class="poster" src='{{this.mv_Image}}'>
  </p>

  <p class="text-info">Total # of all the service requests including Weather, Movie, and Currency is :
      <span class="badge">{{this._sharedService.totReqsMade}}</span>
  </p>
 </div>
</div>